<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/index.css">

        <title>GardenX - The Social Media site for Gardening</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="margin-right:3%;" href="/root"><img src="../static/images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ps-3">
                            <a class="nav-link" href="/root/login">Login</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link" href="/root/register">Register</a>
                        </li>
                    </ul>
            </div>
        </nav>
        <div style="text-align: center;" class="w-100 p-5 d-flex-column justify-content-center">
            <h1 class="p-5" style="font-size:48px;">GardenX</h1>
            <p>GardenX is a social media site, built around plants and gardening. It was created in late 2020 as part of the First Lego League competition. <br/> A presentational video about gardening and the site can be found below, as well as some instructions.</p>
            <iframe src="https://videoplayer.telvue.com/player/c0gKv9ZUF0uiidDafFfESDZA5EkkJp7L/media/637051?autostart=false&showtabssearch=true&fullscreen=true" width="800" height="450" allowfullscreen="true" frameborder="0" allow="autoplay; fullscreen"></iframe>
        </div>
        <div style="text-align: center;" class="w-100 p-5 d-flex-column justify-content-center">
            <h1 class="p-0" style="font-size:48px;">About Us</h1>
            <img class="m-5" src="https://mcusercontent.com/d8f37d1a90dacd97f207f0b4a/images/a7819412-5d26-3429-46e4-65403e9fa89d.png" width="800" height="450" alt="A picture of the Avengers team"/>
            <p>We are The Avengers (Team #19478), a First Lego League robotics team based in Lexington, Massachusetts. <br/> In the 2020-2021 First Lego League season, we decided to make an app based around reducing inactivity, and created GardenX as a result.</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>